@mixin center-auto{
    marign: {
        left: auto;
        right: auto;
    }
}

@mixin box($width, $height:$width){
    width: $width;
    height: $height;
}

@mixin cover-background ($image){
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-image: url($image);
}


@mixin flex-center{
    display: flex;
    justify-content: center;
}